@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=DM+Sans:wght@400;500;700&family=Chivo+Mono:wght@300;400;500&display=swap');

@theme {
  --font-display: "Space Grotesk", sans-serif;
  --font-body: "DM Sans", sans-serif;
  --font-mono: "Chivo Mono", monospace;

  --color-mint: #00C896;
  --color-mint-dark: #00a87e;
  --color-forest: #004D40;
  --color-canvas: #F7F9F8;
  --color-ink: #1A2421;
  --color-muted: #94A3B8;
}

@layer base {
  body {
    @apply bg-canvas text-ink font-body antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

